# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Kconfig.kernel
Kconfig.versions
.kernel_config_md5
.config
.config.old
*~
*.o
*.d
.tmp_*
*.ko
*.cmd
*.tmp
*.ver
*.mod
modules.order
backport-include/backport/autoconf.h
modules
.tmp_versions
Module.symvers
*.mod.c
.cache.mk
*.patch